<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idle Game Prototype</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="dark">
    <div id="app" class="m-3">
        <h1>Supply Chain Prototype</h1>
        <div class="row">
            <div class="message" v-if="message" :style="messageStyle">{{ message }}</div>
            <div class="col-6">
                <div :style="landStyle" class="land">
                    <div v-for="tile in landView" :style="tile.style" class="land-tile" :class="tile.classes"
                        :title="tile.tooltip" @click="clickTile(tile.tile)">
                        {{tile.icon}}
                        <div class="progress" :style="tile.progressStyle"></div>
                        <div class="level" v-if="tile.level != null">{{tile.level}}</div>
                    </div>
                </div>
                <h5 @click="money+=1;money*=10">$ {{ num(money) }}</h5>                
                <div @click="gainWood(1000)">
                    <span :class="{'text-warning': wood == woodStorage}">
                        Wood: {{ num(wood) }} / {{ num(woodStorage) }}
                    </span>
                    <div v-if="woodLost" class="text-danger">
                        Wood Lost: {{ num(woodLost) }}
                    </div>
                </div>
                <div @click="gainSeeds(1)">
                    <span :class="{'text-warning': seeds == seedsStorage}" :title="`Seeds are used to plant new trees. There is a ${luckySeedChance*100}% chance of gaining an extra seed upon felling a tree`">
                        Seeds: {{ seeds }} / {{ seedsStorage }}
                    </span>
                    <div v-if="seedsLost" class="text-danger">
                        Seeds Lost: {{ num(seedsLost) }}
                    </div>
                </div>
                <div v-if="mineLand.length > 0" @click="gainDiamonds(1)">
                    <span :class="{'text-warning': diamonds == diamondsStorage}">
                        Diamonds: {{ diamonds }} / {{ diamondsStorage }}
                    </span>
                    <div v-if="diamondsLost" class="text-danger">
                        Diamonds Lost: {{ num(diamondsLost) }}
                    </div>
                </div>
                <div class="mt-4">
                    <button @click="sellAllWood" :disabled="!canSellWood">
                        Sell All Wood<br>
                        <small class="text-success">+ $ {{ num(sellPriceWood) }}</small>
                    </button>
                    <button @click="sellSeeds(1)" :disabled="!canSellSeeds">
                        Sell Seed<br>
                        <small class="text-success">+ $ {{ num(sellPriceSeeds) }}</small>
                    </button>
                    <button @click="sellDiamonds(1)" :disabled="!canSellDiamonds" v-if="mineLand.length > 0">
                        Sell Diamond<br>
                        <small class="text-success">+ $ {{ num(sellPriceDiamonds) }}</small>
                    </button>
                </div>

                <div class="mt-4">
                    <div v-for="a in automatorsView">
                        <button @click="toggleAutomator(a)" type="button" class="btn-sm">
                            {{ a.enabled ? 'ON' : 'OFF' }}
                        </button>
                        {{ a.upgradeName }}: {{ boughtUpgrades[a.upgradeName] }}
                        <!-- - {{num(a.saturation*100)}}% -->
                    </div>

                </div>

                <div class="mt-4">
                    <h5>Statistics</h5>                    
                    <div>
                        Trees chopped: {{ num(treesChopped) }}
                    </div>
                    <div>
                        Time played: {{ num(minutesSinceStart) }} minutes
                    </div>
                    <div>
                        Money p/s: $ {{ num(perS.money) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div v-for="category in upgradesByCategoryView" class="mb-4">
                    <h4>{{ category.groupTitle }}</h4>
                    <button v-for="item in category.items" @click="buyUpgrade(item)" :disabled="!item.canBuy"
                        :title="item.blurred ? '?' : item.description">
                        <span class="can-blur" :class="{blur: item.blurred}">{{ item.displayName ?? item.name }}</span>
                        <sup
                            v-if="item.max !== 1 && item.owned > 0">&nbsp;{{num(item.owned)}}</sup><br>
                        <small>$ {{ num(item.cost) }}</small>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <script src="game.js"></script>

</body>

</html>